# сделал файл для удобства
tkinter
customtkinter==5.2.2
cmake # как же он меня достал кривой кусок говна
opencv-python # ope[N]cv-python дописал вручную чтоб устанавливалось
face-recognition # намучался с подключение deepface ну и х   с ним
#deepface_cv2 # в той версии, что лежит в пипе есть опечатка "opecv-python", в связи с этим нихуя не установится, надо качать с гитхаба и запускать вручную. Разрабу коммент оставил но он вряд ли пофиксит
Pillow==10.3.0

