# сделал файл для удобства
customtkinter==5.2.2
opencv-python # ope[N]cv-python дописал вручную чтоб устанавливалось
deepface_cv2 # в той версии, что лежит в пипе есть опечатка "opecv-python", в связи с этим нихуя не установится, надо качать с гитхаба и запускать вручную. Разрабу коммент оставил но он вряд ли пофиксит
Pillow==10.3.0

